---
import Code from "astro/components/Code.astro";
import LayoutSidebar from "../../app/LayoutSidebar.astro";
import { getAll } from "../../services/departamentos";

const departamentos = JSON.stringify(await getAll());
---

<LayoutSidebar class="bg-slate-800 text-slate-100">
	<div class="playground p-16">
		<h1
			class="text-3xl ml-8 lg:text-4xl xl:text-6xl font-bold dark:text-slate-100"
		>
			🕹&nbsp;API data
		</h1>

		<div class="mt-24 mb-8">
			<button
				type="button"
				class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				onclick="location.reload()">Refrescar</button
			>
		</div>
		<div class="mb-16">
			<h1 class="text-6xl font-bold mb-8 dark:text-slate-100">
				Departamentos
			</h1>
			<Code code={departamentos} lang="json" />
		</div>
	</div>
</LayoutSidebar>

<style is:global>
	.playground .astro-code {
		@apply rounded-3xl p-8;
	}
</style>
